.header {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(54, 215, 183);
  margin-bottom: 15px;
  form {
    display: flex;
    gap: 10px;
    input {
      background-color: aliceblue;
      font-size: 16px;
      padding: 8px;
      outline: transparent;
      border-radius: 6px;
      border-color: transparent;
      width: 300px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:focus {
        border-color: rgba(25, 109, 93, 0.468);
      }
    }
    button {
      background-color: aliceblue;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      outline: transparent;
      border-radius: 6px;
      border-color: transparent;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
        color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: #fafafa;
        background-color: rgba(25, 109, 93, 0.468);
      }
    }
  }
}
